/***************************** PROJECT SECTION *****************************/
.projects-detail {
    text-align: left;
    padding: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    /* For Responsive */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid red; */

}

.project-title {
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
}

.project-sub-header {
    text-align: center;
    color: #b3b3b3;
}

.project-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;    
    /* border: 3px solid red; */
}

.project-content img {
    width: 100%;
    /* max-width: 50vw; */
    height: 100%;
    margin: 3rem 0;
}

.project-content a {
    color: #b3b3b3;
    text-decoration: none;
    word-break: break-all;
}

.project-content .project-duration {
    margin-top: 3rem;
    line-height: 1.5rem;
}

.project-content .game-link-text {
    margin-top: 1.8rem;
    font-weight: 500;
}

.project-content h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-content h3 {
    font-size: 3rem;
    /* margin-top: 1rem; */
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #b3b3b3;
    font-weight: 500;
    /* line-height: 1.6rem; */
    line-height: 2rem;

}


/* Mobile */
@media (max-width: 768px) {
    .projects-detail {
        max-width: 768px;
    }

    .project-content img {
        height: auto;
    }

    .project-title {
        margin-top: 0;
        font-size: 2.5rem;
    }

    .project-content .game-link-text a {
        display: block;
    }
    
    .project-content h4 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }
    
    .project-content h3 {
        font-size: 2.5rem;
        /* margin-top: 1rem; */
        margin-bottom: 0.5rem;
    }
    
    .project-content p {
        font-size: 0.9rem;
    }
}